*{
    box-sizing: border-box;
}
#showList{
    display: flex;
    flex-wrap: wrap;
}

#new, #trend, #caretory {
    display: none;
}

.container{
    width:1100px;
    margin: 0 auto;
}
.productPic img{
    width: 100%;
}
.productItem{
    width: 33%;
    padding: 15px;
}
.container h1 {
    text-transform: uppercase;
    font-size: 30px;
}
.container ul.tab {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.container ul.tab li {
    background-color: orangered;
    padding: 10px;
    color: mintcream;
    border-radius: 3px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
}

.container ul.tab li.active {
    background-color: navy;
}

*{
    box-sizing: border-box;
}
#container {
    width: 1000px;
    height: 2000px;
    padding: 0 auto;
    margin: 0 auto; 
}
#heading {
    width: 100%;
    height: 20%;
    background-color: khaki;
}
#main {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: lawngreen;
}
#sidebar {
   width: 25%;
    height: 100%;
    background-color: lavenderblush;
}
.sidebarMenu {
    width: 100%;
    height: 33%;
    background-color: lightsalmon;
}
.sidebarFilter {
    width: 100%;
    height: 33%;
    background-color: magenta;
}
.sidebarSearh {
    width: 100%;
    height: 34%;
    background-color: black
}
#product {
    background-color: darkgrey;
    width: 75%;
    height: 100%;
    
}
#footer {
    width: 100%;
    height: 20%;
    background-color: darkorchid;
}