div{
    width: 200px;
    height:200px;
    background-color: lawngreen;
    font-size:30px;
    text-align:center;
    line-height:200px;
    border-style: inset;
    border-width: 3px;
    border-color: blue;
    border-radius: 100%;
  }